@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(#F2F2F2); */
  background: #F2F2F2
}

::-webkit-scrollbar {
    @apply w-2.5 h-2.5;

}

::-webkit-scrollbar-track {
    @apply bg-transparent
}

::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-400 border-[1px] border-transparent border-solid bg-clip-padding;
}

::-webkit-scrollbar-corner {
    @apply bg-gray-400;
}